/HFlipBW.class
/ColorNoise.class
/PolychromeBW.class
/PolychromeBW$ColorNoise.class
/SoftPixelate.class
/HardPixelate.class
/BWConvolve.class
/ConvolveCW.class
/SobelEdgeDetection.class
/PolychromeKMap.class
/Rotate90.class
/PolychromeKMap$RGBPoint.class
/PolychromeKMap$Cluster.class
/PolychromeKMap$Point.class
/PolyChromeKMapNoTransp.class
/PolyChromeKMapNoTransp$Cluster.class
/PolyChromeKMapNoTransp$Point.class
/BWKMap.class
/BWKMap$Cluster.class
/BWKMap$Point.class
/PolychromeNoTranspKMap.class
/PolychromeNoTranspKmap$Cluster.class
/PolychromeNoTranspKmap$Point.class
/PolychromeNoTranspKmap.class
/PolychromeNoTranspKMap$Cluster.class
/PolychromeNoTranspKMap$Point.class
